@page "/admin/client-sessions"
@rendermode InteractiveServer
@using System.Text.Json
@using HttpRemoteControlServer.Contracts
@using HttpRemoteControlServer.Domain

@inject ILogger<AdminClientSessions> Logger;
@inject ISessionManager SessionManager
@inject ISessionNotifier SessionNotifier

<PageTitle>ActiveSessionData</PageTitle>

<h1>ActiveSessionData</h1>

<div>
    <button 
        type="button" 
        class="btn btn-primary"
        @onclick="ClearClientSession">Clear</button>
    @if (string.IsNullOrEmpty(CurrentJson))
    {
        <h2>Currently no data. Data will updated in real time.</h2>
    }
    else
    {
        <pre>@CurrentJson</pre>
    }
</div>

@code {
    
    private string? CurrentJson { get; set; }
    private List<RemoteClientSession>? RemoteSessions { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var clientSessions = await SessionManager.GetAll();
        RemoteSessions = clientSessions.ToList();
        var options = new JsonSerializerOptions { WriteIndented = true };
        var json = JsonSerializer.Serialize(RemoteSessions, options);
        CurrentJson = json;
        
        SessionNotifier.NewSessionOpened += SessionNotifierOnNewSessionOpened;;
    }

    private async void SessionNotifierOnNewSessionOpened()
    {
        try
        {
            RemoteSessions = (await SessionManager.GetAll()).ToList();
            var options = new JsonSerializerOptions { WriteIndented = true };
            var json = JsonSerializer.Serialize(RemoteSessions, options);
            CurrentJson = json;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Logger.LogError(
                "UI Layer. AdminClientSessions.razor has failed to handle async update " +
                "from SessionNotifier.NewSessionOpened. Ex: {ex}", e);
        }
    }

    private async Task ClearClientSession()
    {
        return;
        
        //if(RemoteSessions == null)
        //    return;
        //foreach (var clientSession in RemoteSessions)
        //{
        //    await ClientSessionService.RemoveClientSession(clientSession.SessionId);
        //}
        //await InvokeAsync(StateHasChanged);
    }
}