@page "/admin/client-sessions"
@rendermode InteractiveServer
@using System.Text.Json
@using HttpRemoteControlServer.Contracts
@using HttpRemoteControlServer.Models

@inject IClientSessionService ClientSessionService

<PageTitle>ActiveSessionData</PageTitle>

<h1>ActiveSessionData</h1>

<div>
    <button 
        type="button" 
        class="btn btn-primary"
        @onclick="ClearClientSession">Clear</button>
    @if (string.IsNullOrEmpty(CurrentJson))
    {
        <h2>Currently no data. Data will updated in real time.</h2>
    }
    else
    {
        <pre>@CurrentJson</pre>
    }
</div>

@code {
    
    private string? CurrentJson { get; set; }
    private List<ClientSession>? ClientSessions { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var clientSessions = await ClientSessionService.GetClientSessions();
        ClientSessions = clientSessions.ToList();
        ClientSessionService.StateChanged += HandleStateChange;
        var options = new JsonSerializerOptions { WriteIndented = true };
        var json = JsonSerializer.Serialize(ClientSessions, options);
        CurrentJson = json;
    }
    
    private async void HandleStateChange(object? sender, EventArgs e)
    {
        ClientSessions = (await ClientSessionService.GetClientSessions()).ToList();
        var options = new JsonSerializerOptions { WriteIndented = true };
        var json = JsonSerializer.Serialize(ClientSessions, options);
        CurrentJson = json;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ClearClientSession()
    {
        if(ClientSessions == null)
            return;
        foreach (var clientSession in ClientSessions)
        {
            await ClientSessionService.RemoveClientSession(clientSession.SessionId);
        }
        await InvokeAsync(StateHasChanged);
    }
}