@page "/sessions"
@rendermode InteractiveServer

@using HttpRemoteControlServer.Contracts
@using HttpRemoteControlServer.Models

@inject IClientSessionService ClientSessionService
@inject NavigationManager NavManager

<PageTitle>ActiveSessions</PageTitle>

<h1>ActiveSessions</h1>

<div class="view">
    @{
        if (ClientSessions != null)
        {
            foreach (var clientSession in ClientSessions)
            {
                <button class="session-button" type="button" 
                        @onclick="() => { OpenSession(clientSession.SessionId); }"
                        aria-label="Открыть сессию Ubuntu 24.04">
                    <div class="session-content">
                        <div class="session-info">
                            <div class="session-header">
                                <p class="session-name">@clientSession.Client.MachineInfo.HostName</p>
                                <p class="session-duration">@(DateTime.Today - clientSession.OpenedDate)</p>
                            </div>
                            <p class="session-hostname">@clientSession.Client.MachineInfo.PrettyName</p>
                            <p class="session-ip">@clientSession.Client.MachineInfo.IpAddress</p>
                            <p class="session-sub">Нажмите, чтобы открыть</p>
                        </div>
                    </div>
                </button>
            }
        }
    }
</div>

@code {

    private List<ClientSession>? ClientSessions { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
        var clientSessions = await ClientSessionService.GetClientSessions();
        ClientSessions = clientSessions.ToList();
    }

    private void OpenSession(Guid sessionId)
    {
        NavManager.NavigateTo($"/session/{sessionId}", new NavigationOptions());
    }


    //private static List<ClientSession> TestClientSessions()
    //{
    //    return new List<ClientSession>()
    //    {
    //        new ClientSession()
    //        {
    //            SessionId = Guid.NewGuid(),
    //            Client = new Client()
    //            {
    //                Id = Guid.NewGuid(),
    //                MachineInfo = new MachineInfo()
    //                {
    //                    PrettyName = "Debian GNU/Linux 12 (bookworm)",
    //                    IpAddress = "172.20.17.130",
    //                    HostName = "k8s-controlplane01"
    //                }
    //            },
    //            OpenedDate = DateTime.UtcNow - TimeSpan.FromMinutes(5)
    //        },
    //        new ClientSession()
    //        {
    //            SessionId = Guid.NewGuid(),
    //            Client = new Client()
    //            {
    //                Id = Guid.NewGuid(),
    //                MachineInfo = new MachineInfo()
    //                {
    //                    
    //                }
    //            },
    //            OpenedDate = DateTime.UtcNow - TimeSpan.FromSeconds(30)
    //        }
    //    };
    //}

}