@page "/sessions"
@rendermode InteractiveServer

@using HttpRemoteControlServer.Contracts
@using HttpRemoteControlServer.Domain

@inject ILogger<Sessions> Logger;
@inject ISessionManager SessionManager;
@inject ISessionNotifier SessionNotifier;
@inject NavigationManager NavManager


<PageTitle>ActiveSessions</PageTitle>

<h1>ActiveSessions</h1>

<div class="view">
    @{
        if (RemoteSessions == null)
        {
            <div>
                <h2>No sessions open right now. Waiting for session to open...</h2>
            </div>
        }
        if (RemoteSessions != null)
        {
            foreach (var clientSession in RemoteSessions)
            {
                <button class="session-button" type="button" 
                        @onclick="() => { NavigateToSessionPage(clientSession.SessionId); }"
                        aria-label="Открыть сессию Ubuntu 24.04">
                    <div class="session-content">
                        <div class="session-info">
                            <div class="session-header">
                                <p class="session-name">@clientSession.RemoteClient.MachineInfo.HostName</p>
                                <p class="session-duration">@(DateTime.Today.ToUniversalTime() - clientSession.OpenedDateUtc)</p>
                            </div>
                            <p class="session-hostname">@clientSession.RemoteClient.MachineInfo.PrettyName</p>
                            <p class="session-ip">@clientSession.RemoteClient.MachineInfo.IpAddress</p>
                            <p class="session-sub">Нажмите, чтобы открыть</p>
                        </div>
                    </div>
                </button>
            }
        }
    }
</div>

@code {

    private List<RemoteClientSession>? RemoteSessions { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
        var session = await SessionManager.GetAll();
        RemoteSessions = session.ToList();

        SessionNotifier.NewSessionOpened += SessionNotifierOnNewSessionOpened;;;
    }

    private async void SessionNotifierOnNewSessionOpened()
    {
        try
        {
            var clientSessions = 
                await SessionManager.GetAll();
            RemoteSessions = clientSessions.ToList();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Logger.LogError(
                "UI Layer. Sessions.razor has failed to handle async update from ClientSessionService. Ex: {ex}", ex);
        }
    }


    private void NavigateToSessionPage(Guid sessionId)
    {
        NavManager.NavigateTo($"/session/{sessionId}", new NavigationOptions());
    }

}